---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2 class="site-title"><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">文章</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	nav {
		display: flex;
		align-items: center;
		gap: 3rem;
		width: 100%;
		max-width: var(--content-width, 720px);
		margin: 0 auto;
		padding: 0 1em;
		box-sizing: border-box;
	}
	.site-title {
		margin: 0;
		font-size: 1.2rem;
		font-weight: 700;
	}
	.site-title a {
		text-decoration: none;
		color: rgb(var(--black));
	}
	.site-title a:hover {
		opacity: 0.8;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.internal-links {
		display: flex;
		gap: 1.5rem;
	}
</style>
